* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color: #7c3200;
}

.body {
  font-family: 'Montserrat';
  color: #333333;
  background-color: white;

}

.main-btn {
  background-color: #FF9900;
  border-radius: 0px;
  padding: 19px 37px 19px 37px;
  color: #FFFFFF;
  font-size: 23.46px;
  line-height: 28.6px;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
}

.main-btn:hover {
  background-color: #ca7900;
}

.container{
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 75px;
  padding-right: 75px;
}

/* HEADER */
.header {
  background-color: white;
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.1);
}

.header__container {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav__link {
  color: #333333;
  margin-right: 75px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.header-nav__search-icon{
  width: 30px;
  height: 30px;
  background: url(../img/Search.svg) no-repeat center center;
  background-size: 100% 100%;
}


/* SECTION-HERO */
.section-hero {
  margin-bottom: 100px;
}

.section-hero__container {
  padding-top: 103px;
  padding-left: 78px;
  background: url(../img/low-angle-photo-of-balconies-2462015.png) no-repeat white right center;
  background-size: 100% 100%;
  height: 620px;
  padding-bottom: 91px;
}
.section-hero__heading {
  max-width: 841.75px;
  margin-bottom: 19px;
  color: white;
  font-weight: 800;
  font-size: 70.73px;
  line-height: 86px;
}
.section-hero__description {
  margin-bottom: 100px;
  max-width: 700px;
  color: white;
  font-weight: 700;
  font-size: 23.46px;
  line-height: 28.6px;
}

.section-hero__btn {
  margin-bottom: 91px;
  padding: 25px 40px 25px 40px;
}

/* SECTION ABOUT-US */
.section-about-us {
  margin-bottom: 100px;
}

.section-about-us__header {
  font-size: 48px;
  line-height: 58.51px;
  margin-bottom: 25px;
  font-weight: 400;
}

.section-about-us__description {
  max-width: 1235px;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 75px;
}

.about-us-image {
  max-width: 100%;
  height: auto;
  object-fit: cover;

}

.about-us-card:first-child {
  margin-bottom: 30px;
}

.about-us-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 67px 118px 72px 63px;
  border: 1px solid #CACACA;
  background-color: white;
  box-sizing: border-box;
  height: 47%;
}

.about-us-card__pic {
  margin-right: 59px;
}

.about-us-card__description {
  font: size 16px;
  line-height: 32px;
  font-weight: 400;
}

.about-us-card__description::first-line{
  font-size:24px;
  line-height:29.26px;
  font-weight: 700;
}


/* HOW WE WORK */
.section-how-we-work {
  margin-bottom: 100px;
}

.section-how-we-work__header {
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 38px;
  font-weight: normal;
}

.how-we-work-nav__link {
  margin-right: 85px;
  margin-bottom: 49px;
  color: #333333;
}

.how-we-work__text {
  font-size:16px;
  line-height: 32px;
  font-weight: 400;
  max-width:758px;
  margin-bottom: 101px;
}

.how-we-work__text::first-line{
  font-size:24px;
  line-height:32px;
  font-weight: 700;
}

.how-we-work__img {
max-height: 465px;
}

.how-we-work__detail-btn {
  margin-right: 30px;
}

.how-we-work__contract-btn {
  background-color: white;
  color: #333333;
  border: 1px solid #333333;
}


/* FAQ */
.section-faq {
  margin-bottom: 100px;
}

.section-faq__header {
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 38px;
  font-weight: normal;
}

.faqs {
  list-style-type: none;
}

.faqs__item {
  padding-top:30px;
  padding-bottom:30px;
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.faqs__text {
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
}

.faqs__img {
  width: 50px;
  height: 50px;
}

/* FOOTER */
.footer {
  background-color: #222222;
  color: #CACACA;
  height: 630px;
  padding-top: 48px;
}


.footer-left {
  display: flex;
  align-items: flex-start;
  justify-items: center;
  flex-direction: column;
}

.footer-left__logo{
  margin-bottom: 19px;
}

.footer-left-list {
  list-style-type: none;
  margin-bottom: 118px;
}

.footer-left-list__item {
  font-size: 18px;
  line-height: 36px;
}

.social-pics__img {
  margin-right: 25px;
}


.send-data-form__header {
  font-size: 48px;
  line-height: 58.51px;
  margin-bottom: 31px;
}

.send-data-form {
  display: flex;
  flex-direction: column;
  border:none;
  padding: 0;
}

.send-data__input {
  height: 60px;
  margin-bottom: 25px;
  background-color: #414141;
  border: none;
  padding: 14px 24px;
  color: #CACACA;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  font-style: normal;
}

.send-data__input_message{
  height: 150px;
}

.send-data__input::placeholder {
  opacity: 1;
  color: #CACACA;
}

.send-data__button {
  margin-right: 2px;
}

.send-data__checkbox {
  margin-right: 4px;
  width: 14px;
  height: 14px;
  background-color: transparent;
}

.footer__description {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
}

