:root {
  --orange-color: #cc9933;
  --light-orange-color: #ffcc66;
  --gray-color: #666666;
  --light-gray-color: #cccccc;
  --dark-gray-color:#333333;
  --background-color: #f1f1f1;
}


@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerLight.woff2') format('woff2'), url('../fonts/MullerLight.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.woff2') format('woff2'), url('../fonts/MullerRegular.woff') format('woff');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.woff2') format('woff2'), url('../fonts/MullerBold.woff') format('woff');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerMedium.woff2') format('woff2'), url('../fonts/MullerMedium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: font-weight 0.1s linear;
  border-radius: 12px;
  padding: auto;
}

a:hover, .social-icon:hover {
  font-weight: bold;
  transform: scale(1.1,1.1) ;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

html {
  background-color: var(--background-color);
}

body {
  color: #333;
  font-family: 'Muller', sans-serif;
}

.container {
  max-width: 1170px;
}

.section {
  padding-top: 35px;
  padding-bottom: 35px;
}


.btn {
  display: inline-block;
  font-size: 16px;
  line-height: 32px;
  background-color: var(--orange-color);
  color: white;
  border-radius: 12px;
  cursor: pointer;
  border: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.btn:hover {
  background-color: white;
  color: var(--orange-color);
}
/* HEADER */

.head {
  padding-top: 30px;
  padding-bottom: 35px;
}

.header-head {
  height: 60px;
  margin-bottom: 30px;
}

.logo-img {
  height: 54px;
  margin-right: 30px;
}

.phone {
  font-size: 22px;
  line-height: 32px;
  color: var(--gray-color);
  font-weight: bold;
}

.account-link {
  text-align: right;
  font-size: 16px;
  line-height: 32px;
  color: var(--orange-color);
  font-weight: 500;
  background: url(../img/keyboard_tab.svg) left center no-repeat transparent;
  background-size: auto;
}

/* NAVIGATION */

.nav {
  height: 70px;
  background: white;
  border-radius: 10px;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-link {
  color: var(--dark-gray-color);
  transition: color 0.5s ease;
  transition: font-weight 0.1s linear;

}
.nav-link:hover {
  color: var(--orange-color);
  font-weight:bold;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.search {
  position: relative;
  height: 50px;
}

.search-input {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  background-color: var(--background-color);
  border-radius: 15px;
  border: none;
  color: var(--dark-gray-color);
}

.search-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  width: 30px;
  height: 30px;
  background-image: url('../img/search.png');
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search-button:hover{
  border: 1px solid var(--orange-color);
}

/* HERO */



.normal-header {
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 400;
  line-height: 32px;
  padding-left: 45px;
}

.reservation input, .reservation select,  option {
  width: 100%;
  height: 70px;
  margin-bottom: 23px;
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  border: none;
}

.find-room-button {
  margin-top: 24px;
  min-width: 159px;
  height: 70px;
}

.offer-amount {
  display: inline-block;
}

.offer-number {
  margin-left: 30px;
  display: inline-block;
  color: var(--orange-color);
  font-weight: bold;
}

.offer-amount-text {
  display: inline-block;
}

.offer-card {
  background: center / cover no-repeat url('../img/22.png');
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 540px;
  padding-bottom: 30px;
  padding-left: 43px;
  border-radius: 12px;
}

.offer-content {
  width: 350px;
}

.offer-big-text {
  color: white;
  font-size: 66px;
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 58px;
  margin-bottom: 40px;
}

.offer-price {
  color: white;
  font-size: 35px;
  margin-right: 40px;
  display: inline-block;
}

.offer-details-link {
  color: var(--light-orange-color);
  padding-right: 15px;
  display: inline-block;
  font-size: 16px;
  background: url(../img/arrow_right.png) right center no-repeat;
}

/* ABOUT US */

.about-us-description {
  font-size: 16px;
  line-height: 32px;
  width: 880px;
  color: var(--gray-color);
  margin-left: 45px;
}

/* SERVICES */


.services-card {
  display: inline-block;
  margin-bottom: 25px;
  background-color: white;
  border-radius: 12px;
}

.services-card-image {
  width: 100%;
  display: block;
}

.services-card-body {
  padding: 45px;
}

.services-card-link {
  margin-bottom: 20px;
  padding-right: 20px;
  color: var(--orange-color);
  font-size: 22px;
  line-height: 32px;
  background: url(../img/arrow_right.png) right center no-repeat;
}

.services-card-description {
  color: var(--dark-gray-color);
  width: 394px;
  font-size: 16px;
  line-height: 32px;
}

/* advantages */

.advantages-card {
  background-color: white;
  margin-bottom: 20px;
  border-radius: 12px;
  padding: 40px;
  transition: background-color 0.3s ease;
}

.advantages-card:hover {
  cursor: pointer;
  background-color: var(--orange-color);
  color: white;
}

.advantages-card:hover .advantages-card-description {
  color: white;
}

.advantages-card:hover svg style .st0{
  fill: white;
}

.advantages-card-img {
  height: 60px;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.advantages-card-description {
  font-size: 16px;
  line-height: 32px;
  color: var(--dark-gray-color);
}

/* Allocation */


.allocation-card {
  margin-bottom: 30px;
  background-color: white;
  border-radius: 12px;
}

.allocation-card-pic {
  display: block;
}

.allocation-card-body {
  padding: 20px 45px 45px 45px;
}

.allocation-card-1st-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
}

.allocation-text-price {
  font-size: 22px;
  line-height: 32px;
  font-weight: bold;
}

.allocation-card-title {
  font-size: 16px;
  color: var(--dark-gray-color);
  margin-bottom: 17px;
}

.allocation-card-location {
  color: var(--gray-color);
  margin-bottom: 26px;
}

.light-btn {
  display: inline-block;
  color: var(--orange-color);
  font-size: 16px;
  line-height: 32px;
  background-color: white;
  border-radius: 12px;
  cursor: pointer;
  border: 1px solid var(--orange-color);
}

.light-btn:hover {
  background-color: var(--orange-color);
  color: white;
}

.allocation-card-button {
  width: 100px;
  height: 41px;
}

.allocation-card-last {
  background: url(../img/41.png) center center no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 56px;
  padding-left: 42px;
  position: relative;
}

.all-allocation-variants-link::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.all-allocation-variants-link {
  font-size: 22px;
  line-height: 32px;
  color: white;
  padding-right: 15px;
  background: url(../img/arrow_right_white.png) right center no-repeat;
}


/* CONTACTS */

.section-contacts {
padding-top: 35px;
}


.contacts-card {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 12px;
  padding: 44px;
}

.contacts-card-item {
  padding-top: 26px;
  padding-bottom: 26px;
  border-bottom: solid 1px var(--light-gray-color);
  display: flex;
  justify-content: flex-start;
}

.contacts-card-item-label {
  width: 145px;
  color: var(--gray-color);
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
}

.contacts-card-item-info {
  width: 216px;
}

.contacts-card-schedule {
  margin-bottom: 45px;
}

.contacts-card-address-info, .contacts-card-schedule-info {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color:var(--dark-gray-color);
  font-style: normal;
}


.contacts-card-address-info:hover {
  font-weight: bold;
  color: var(--orange-color);
  cursor: pointer;
}
.contacts-card-phones-info {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color:var(--orange-color);
}

.contacts-card-emails-info {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color:#999999;
  width: 236px;
}

.contacts-text-link {
  color: var(--orange-color);
  display: inline-block;
}

.route-button {
  width: 214px;
  height: 70px;
}

.write-us {
  border: none;
}

.write-us legend {
  padding-left: 15px;
}

.write-us-form {
  width: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.write-us-form input {
  width: 100%;
  height: 70px;
  margin-bottom: 23px;
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  border: none;
}

.write-us-button {
  height: 70px;
  width: 100%;
}

/* FOOTER */
.footer {
  margin-top: 20px;
  margin-bottom: 50px;
  background-color: var(--dark-gray-color);
  border-radius: 12px;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 338px;
  padding: 45px;
}

.footer-text {
  font-size: 16px;
  line-height: 32px;
}

.footer-text-company {
  margin-bottom: 40px;
}

.footer-columt-left {
  width: 345px;
  line-height: 1.75;
  font-weight: 400;
}

.footer-text-link {
  color: var(--orange-color);
  display: block;
}


.footer-columt-right {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.footer-phones {
  margin-top: 20px;
}

.footer-emails {
  margin-top: 20px;
}

.social-icon {
  margin-top: 15px;
}
