* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

.main-link:hover {
  color: #FF9900;
}

.main-link:active{
  color: #E1670E;
}

.body {
  font-family: 'Montserrat';
  color: #333333;
  background-color: white;
  overflow-x: hidden;
  width: 100vw;
  overflow-x: hidden;
}

.main-btn {
  background-color: #FF9900;
  padding: 19px 38px;
  border-radius: 0px;
  color: #FFFFFF;
  font-size: 23.46px;
  line-height: 28.6px;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.main-btn:hover {
  background-color: rgba(255, 153, 0, 0.6);
  color: white;
}

.main-btn:active {
  background: #E1670E;
}

.container{
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 75px;
  padding-right: 75px;
}

/* HEADER */
.header {
  background-color: white;
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.1);
}

.header__container {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger {
  display: none;
  height: 23px;
  width: 30px;
}

.header-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-nav__link {
  color: #333333;
  margin-right: 83px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.header-nav__link:hover {
  border-bottom: 1px solid #FF9900;
}

.header-nav__link:active {
  border-bottom: 1px solid #E1670E;
  color: #E1670E;
}

.search-field {
  width: 945px;
  border: 1px solid #adadad;
  border-radius: 100px ;
  padding: 16px;
  position: absolute;
  z-index: 1;
  background-color: white;
  display: none;
}

.search-field__form {
  width: 100%;
}

.search-field__input {
  border: none;
  border-bottom: 1px solid #DCDCDC;
  width: 90%;
}

.search-field__search-icon {
  width: 25.17px;
  height: 25.62px;
  background: url(../img/Search.svg) no-repeat center center;
  background-size: 100% 100%;
  margin-right: 11.83px;
  border: none;
}

.search-field__close-icon {
  width: 25.17px;
  height: 25.62px;
  background: url(../img/Х.svg) no-repeat center center;
  background-size: 100% 100%;
  margin-right: 11.83px;
  border: none;
}

.header-nav__search-icon{
  width: 25.17px;
  height: 25.62px;
  background: url(../img/Search.svg) no-repeat center center;
  background-size: 100% 100%;
  margin-right: 11.83px;
  border: none;
}

/* SECTION-HERO */
.section-hero {
  padding-bottom: 50px;
}

.section-hero__container {
  padding-top: 103px;
  padding-left: 78px;
  background: url(../img/low-angle-photo-of-balconies-2462015.png) no-repeat center center;
  background-size: cover;
  height: 620px;
  padding-bottom: 91px;
}

.section-hero__heading {
  max-width: 841.75px;
  margin-bottom: 19px;
  color: white;
  font-weight: 800;
  font-size: 70.73px;
  line-height: 86px;
}

.section-hero__description {
  margin-bottom: 100px;
  max-width: 50%;
  color: white;
  font-weight: 700;
  font-size: 23.46px;
  line-height: 28.6px;
}

.section-hero__btn {
  margin-bottom: 91px;
  height: 80px;
  max-width: 285px;
  font-weight: 700;
}

/* SECTION ABOUT-US */
.section-about-us {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-about-us__header {
  font-size: 48px;
  line-height: 58.51px;
  margin-bottom: 25px;
  font-weight: 400;
}

.section-about-us__description {
  max-width: 1235px;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 46px;
}



.about-us-row {
  display: flex;
  justify-content: space-between;
  height: 622px;
}

.about-us-big-card {
  width: 49%;
  background: url("../img/worker.png") no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.about-us-big-card__footer {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  width: 100%;
  height: 33%;
  justify-content: space-between;
  padding-right: 54px;
  padding-left: 68px;
}

.about-us-big-card__description {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 32px;
  font-weight: 700;
  max-width: 497px;
}

.about-us-big-card__button {
  border: 3px solid #FF9900;
  background: transparent;
  width: 175px;
  font-size: 16px;
}

.about-us-card:first-child {
  margin-bottom: 30px;
}

.about-us-cards {
 width: 49%;
}

.about-us-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 67px 110px 72px 63px;
  border: 1px solid #CACACA;
  background-color: white;
  box-sizing: border-box;
  height: 47%;
}

.about-us-card__pic {
  min-width: 175px;
  min-height: 175px;
  background: no-repeat center center;
  background-size:contain;
  margin-right: 59px;
}

.about-us-card__description {
  font: size 16px;
  line-height: 32px;
  font-weight: 400;
}

.about-us-card__description::first-line{
  font-size:24px;
  line-height:29.26px;
  font-weight: 700;
}


/* HOW WE WORK */
.section-how-we-work {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-how-we-work__header {
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 38px;
  font-weight: normal;
}

.how-we-work-nav{
  padding-top: 10px;
}

.how-we-work-nav__link {
  margin-right: 92px;
  margin-bottom: 49px;
  color: #333333;
  background: none;
  border: none;
}

.how-we-work-row {
  display: flex;
  justify-content: space-between;
}

.how-we-work__text {
  font-size:16px;
  line-height: 32px;
  font-weight: 400;
  max-width:758px;
  margin-bottom: 70px;
}

.how-we-work__text::first-line{
  font-size:24px;
  line-height:32px;
  font-weight: 700;
}

.how-we-work__img {
  width: 49%;
  background: url(../img/how-we-work.png) no-repeat center center;
  background-size: cover;
  display: block;
}

.how-we-work__buttons {
 display: flex;
}
.how-we-work__detail-btn {
  margin-right: 30px;
  width: 175px;
  height: 60px;
  font-size: 16px;
  line-height: 19.5px;
}

.how-we-work__contract-btn {
  background-color: white;
  color: #333333;
  border: 1px solid #333333;
  width: 147px;
  height: 58px;
  font-size: 16px;
  line-height: 19.5px;
  font-weight: normal;
}

.how-we-work__contract-btn:hover {
  background-color: #666666;
}

.how-we-work__contract-btn:active {
  background-color: black;
}
/* FAQ */
.section-faq {
  padding-top: 40px;
  padding-bottom: 100px;
}

.section-faq__header {
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 38px;
  font-weight: normal;
}

.faqs {
  list-style-type: none;
}

.faqs__item {
  padding-top:30px;
  padding-bottom:30px;
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
  display:flex;
  justify-content: space-between;
  align-items: center;
}


.faqs__item:not(:first-child) {
  margin-top: -1px;
}

.faqs__item:hover {
  color: #FF9900;
  border-color: #FF9900;
  z-index: 1;
  position: relative;
}

.faqs__text {
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
}

.faqs__img {
  width: 50px;
  height: 50px;
}

/* FOOTER */
.footer {
  background-color: #222222;
  color: #CACACA;
  -minheight: 630px;
  padding-top: 50px;
}


.footer-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  display: flex;
  align-items: flex-start;
  justify-items: center;
  flex-direction: column;
  width: 20%;
}

.footer-left__logo{
  margin-bottom: 11px;
}

.footer-left-list {
  list-style-type: none;
  margin-bottom: 106px;
}

.footer-left-list__item {
  font-size: 18px;
  line-height: 36px;
}

.social-pics__img {
  margin-right: 20px;
}


.footer-center {
  max-width: 580px;
  padding-left: 10px;
}

.send-data-form__header {
  font-size: 48px;
  line-height: 58.51px;
  margin-bottom: 20px;
}

.send-data-form {
  display: flex;
  flex-direction: column;
  border:none;
  padding: 0;
}

.send-data__input {
  height: 60px;
  margin-bottom: 25px;
  background-color: #414141;
  border: none;
  padding: 14px 24px;
  color: #CACACA;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  font-style: normal;
}

.send-data__input_message{
  height: 150px;
}

.send-data__input::placeholder {
  opacity: 1;
  color: #CACACA;
}

.send-data__button {
  margin-right: 22px;
  min-width: 269px;
  height: 60px;
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 700;
  border: #FF9900;
}

.send-data__last-line {
  display: flex;
  align-items: center;
}

.send-data__checkbox {
  margin-right: 4px;
  width: 10px;
  height: 10px;
  background-color: transparent;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.send-data__checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}


.send-data__checkbox+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #CACACA;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80% 80%;
}

.send-data__checkbox:checked+label::before {
  border-color: #CACACA;
  background-color:transparent;
  background-image: url(../img/V.svg);
}

/* стили при наведении курсора на checkbox */
.send-data__checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: #FF9900;
}
/* стили для активного состояния чекбокса (при нажатии на него) */
.send-data__checkbox:not(:disabled):active+label::before {
  background-color: transparent;
  border-color: #CACACA;
}
/* стили для чекбокса, находящегося в фокусе */
.send-data__checkbox:focus+label::before {
  box-shadow: 0 0 0 0.2rem  rgba(255, 153, 0, 0.2);
}
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.send-data__checkbox:focus:not(:checked)+label::before {
  border-color: #FF9900;
}
/* стили для чекбокса, находящегося в состоянии disabled */
.send-data__checkbox:disabled+label::before {
  background-color: transparent;
}


.footer__description {
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  max-width: 363px;
}

@media (max-width: 1320px) {
  .container{
    padding-left: 50px;
    padding-right: 50px;
  }

  .section-hero {
    padding-bottom: 29px;
  }

  .section-about-us {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .section-how-we-work {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .section-faq {
    padding-top: 20px;
    padding-bottom: 55px;
  }

  .faqs__text {
    font-size: 20px;
    line-height: 32px;
    max-width: 756px;
  }
  .logo {
    height: 48px;
  }

  .header-nav__search-icon {
    margin-right: 0;
  }

  .section-hero__container {
    height: 670px;
    padding-top: 160px;
    padding-left: 45px;
    background-size: cover;
  }

  .header-nav {
    display: none;
  }

  .burger {
    display: block;
  }

  .section-hero__heading {
    max-width: 85%;
    margin-bottom: 10px;
    font-size: 60px;
    line-height: 73.14px;
  }

  .section-hero__description {
    margin-bottom: 110px;
    max-width: 80%;
    font-size: 20px;
    line-height: 24.38px;
  }

  .about-us-row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
  }

  .section-about-us__description {
    margin-bottom: 58px;
  }

  .about-us-big-card {
    width: 100%;
    height: 640px;
    margin-bottom: 50px;
  }

  .about-us-big-card__footer {
    height: 27%;
    justify-content: space-between;
    padding-right: 54px;
    padding-left: 45px;
  }

  .about-us-cards {
    width: 100%;
  }
  .about-us-card:first-child {
    margin-bottom: 40px;
  }

  .about-us-card {
    padding-left: 110px;
    height: 294px;
  }

  .section-how-we-work__header {
    margin-bottom: 42px;
  }

  .how-we-work-text-with-buttons
  {
    margin-right: 50px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .how-we-work__text {
    margin-bottom: 35px;
  }

  .how-we-work__img {
    width: 82%;
    max-height: 697px;
  }

  .footer__description {
    display: none;
  }

  .footer-center {
    width: 59%;
  }

  .footer-left {
    width: 39%;
  }
}

@media (max-width: 800px) {
  .container{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .header__container{
    padding-left: 50px;
    padding-right: 50px;
    height: 69px;
  }

  .section-hero {
    padding-bottom: 29px;
  }

  .section-about-us {
    padding-left: 50px;
    padding-right: 50px;
  }

  .section-how-we-work {
    padding-left: 50px;
    padding-right: 50px;
  }

  .section-faq {
    padding-left: 50px;
    padding-right: 50px;
  }

  .section-hero__container {
    margin-right: 0;
    margin-left: 0;
    height: 699px;
    padding-top: 192px;
    padding-left: 49px;
  }

  .section-hero__description {
    max-width: 100%;

  }

  .section-hero__heading {
    margin-right: 0px;
    max-width: 100%;
  }

  .about-us-big-card {
    width: 100%;
    height: 650px;
    margin-bottom: 50px;
  }

  .about-us-card {
    padding-left: 31px;
    padding-top: 30px;
    padding-right: 38px;
    padding-bottom: 42px;
    border: 1px solid #CACACA;
    background-color: white;
    box-sizing: border-box;
    height: 47%;
  }

  .about-us-card__pic {
    min-width: 120px;
    min-height: 120px;
    background: no-repeat center center;
    background-size:contain;
    margin-right: 25px;
  }


  .about-us-card__description {
    font: size 16px;
    line-height: 32px;
    font-weight: 400;
  }

  .about-us-card__description::first-line{
    font-size:24px;
    line-height:29.26px;
    font-weight: 700;
  }


  .how-we-work-row {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  .how-we-work-nav{
    display: flex;
    justify-content: space-between;
  }

  .how-we-work-nav__link {
    margin-right: 0;
  }

  .how-we-work__img {
    width: 100%;
    max-height: 697px;
    height: 284px;
    margin-bottom: 35px;
  }

  .how-we-work-text-with-buttons
  {
    margin-right: 0px;
  }

  .section-faq__header {
    padding-top: 7px;
    font-size: 45px;
    margin-bottom: 38px;
  }

  .footer-columns {
    flex-direction: column-reverse;
    justify-items: flex-start;
    align-items: flex-start;
    padding-left: 40px;
  }

  .footer-center {
    padding-top: 10px;
    padding-left: 10px;
    max-width: 90%;
    margin-bottom: 70px;
   }

  .footer-left-list {
    display: none;
  }

  .footer-center {
    width: 100%;
  }

}

@media (max-width: 670px) {
  h2 {
    font-size: 24px;
    line-height: 29.26px;
  }

  .logo {
    height: 30px;
  }

   .header-group {
     display: none;
   }

  .header__container{
    padding-left: 15px;
    padding-right: 15px;
    height: 45px;
  }

  .section-hero__container {
    padding-top: 30px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }

  .section-hero {
    padding-bottom: 29px;
  }

  .section-about-us {
    padding-left: 15px;
    padding-right: 15px;
  }

  .section-how-we-work {
    padding-left: 15px;
    padding-right: 15px;
  }

  .section-faq {
    padding-left: 15px;
    padding-right: 15px;
  }

  .header-nav__search-icon {
    display: none;
  }

  .header__container {
    flex-direction: row-reverse;
  }

  .section-hero__heading {
    font-size: 20px;
    line-height: 24.38px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }

  .section-hero__description {
    font-size: 12px;
    line-height: 14.63px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 34px;
    margin-right: auto;
    margin-left: auto;
  }
  .section-hero__btn {
    height: 40px;
    width: 162px;
    font-size: 12px;
    line-height: 14.63px;
    padding: 14px;
    margin-right: auto;
    margin-left: auto;
  }


  .section-hero__container {
    margin-right: 15px;
    margin-left: 15px;
    height: 307px;
  }

  .about-us-big-card {
    width: 100%;
    height: 640px;
    margin-bottom: 50px;
    background-size: 100%;
    background-position-y:top;
  }

  .about-us-big-card__footer {
    display: flex;
    flex-direction: column-reverse;
    height: 27%;
    justify-content: space-between;
    padding-right: 54px;
    padding-left: 45px;
    background-color: transparent;
  }

  .about-us-big-card__description {
    color: black;
  }

  .about-us-big-card__button {
    color: black;
  }
  .about-us-card {
    flex-direction: column;
    border:none;
    width: 100%;
    padding: 0;
  }
  .about-us-card__description {
    width: 100%;
  }

  .send-data__last-line {
    flex-direction: column;
  }

  .how-we-work__buttons {
    flex-direction: column-reverse;
   }
   .footer-columns {
     padding: 0;
   }
   div {
     font-size: 14px;
   }
   span {
     font-size: 14px;
   }
}
